@model IEnumerable<LearnApp.Models.Course>

@{
    ViewBag.Title = "informatique";
}

<h2>informatique</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomFormation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomFormateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duréeF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.certifiée)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptionF)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomFormation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomFormateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duréeF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.certifiée)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionF)
            </td>
            <td>
                @Html.ActionLink("Edit_", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details_", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete_", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
